@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Source Sans Pro Bold';
    src: url('/public/fonts/SourceSansPro-Bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
}

@layer components {
    .min-width {
        @apply max-w-[1200px] mx-auto
    }
    .field {
        @apply w-full p-0 border-0 ring-0 focus:outline-none focus:ring-offset-0 focus:ring-0 placeholder:text-sm
    }

    .header {
        @apply flex flex-col sticky top-0
    }
    
    .header .header-bar {
        @apply py-2 px-5 justify-between flex bg-white
    }

    .header .search-wrapper {
        @apply py-3 px-5 bg-white
    }

    .search-input {
        @apply rounded-lg p-3 flex items-center w-full border justify-between border-main bg-white
        /* info placeholder:text-gray-950 */
    }

    .search-input input {
        @apply placeholder:text-gray-850 text-black-200
    }

    .help-wrapper {
        @apply bg-gray-50 px-5 py-3
    }

    .help-wrapper h6 {
        @apply inline-flex gap-1 text-sm font-bold text-black-200 mb-2
    }

    .help-wrapper ul {
        @apply list-disc text-[13px] leading-4 tracking-tighter ml-5 text-black-100
    }

    .item {
        @apply border border-gray-500
    }

    .item>li {
        @apply flex flex-col 
    }

    .item>li:not(:first-of-type) {
        @apply px-3 
    }

    .item>li:first-of-type {
        @apply h-[140px] flex items-center justify-center border border-b-gray-500
    }

    .item>li:first-of-type>img {
        @apply w-[136px] h-[130px]
    }

    .item>.item-info {
        @apply leading-[18px] pt-3 mb-6 text-sm -tracking-wider text-black-200
    }

    .item>.item-info>strong {
        @apply mb-px
    }

    .item>.item-price {
        @apply mb-1
    }

    .item>.item-price>strong {
        @apply text-sm leading-[18px] text-main
    }

    .item>.item-price>span {
        @apply line-through text-gray-900 text-[10px] leading-4
    }

    .item>li>.item-payment {
        @apply flex items-center justify-center gap-2 py-[6px] px-3 rounded-sm disabled:cursor-not-allowed bg-white text-main border border-main hover:bg-main hover:text-white
    }
}